@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    background: rgba(138, 138, 138, 0.521);
}

header {
    padding: 15px;
    margin: 0 auto;
    background: rgb(94, 94, 94);
    font-family: 'Montserrat', serif;
    border-radius: 5px;
}

h1 {
    text-transform: capitalize;
    color: rgba(212, 212, 212, 0.979);
    text-shadow: 1px 0.9px 0.9px rgba(114, 114, 114, 0.521);
}
h3 {
    color: rgba(17, 17, 17, 0.87);
    text-shadow: 0.7px 0.5px 0.3px rgb(34, 34, 34);
}
h4 {
    margin-left: 5px;
    text-decoration: underline;
}

.text {
    margin: 0 auto;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(24, 24, 24);
}
.liste-a-puces {
    padding: 5px 0 5px 3px;
    box-shadow: 2px 1.5px 2.5px black;
    border-radius: 5px black;
}

li {
    list-style-type: none;
}
p a {
    font-family: 'Montserrat', serif;
    color: rgba(29, 29, 29, 0.884);
}
a:hover {
    color: rgba(117, 117, 117, 0.877);
    transition: 0.3s ease-in-out;
}